




@media (max-width: 640px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .flex {
      flex-direction: column;
      align-items: center;
    }
  
    .space-x-4 {
      margin-bottom: 1rem;
    }
  
    .space-x-2 {
      margin-bottom: 1rem;
    }
    .tetetete{
      margin-left: 0px !important;
    }
  }
  